[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "bcrypt==4.1.3",
    "fastapi[all]>=0.120.1",
    "passlib==1.7.4",
    "requests>=2.32.5",
]
